html{
  height: 500vh;
  width:100%
}


body{
  background-color: #1c1c2c;
  height: 500vh;
  margin:0px;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
  height:0;
}


h2{
  font-size: 20px;
  color: rgb(255, 237, 237);
}

button{
  background: transparent;
  border: 0px;
}

.logo{
  color: rgb(255, 0, 255);
  margin-left: 15px;
}

.line {
  border-top: 2px solid rgba(212, 0, 255, 0.179);
  width: 95%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

i{
  color: rgb(255, 0, 255);
  
}

a{
  text-decoration: none;
  color: rgb(255, 0, 242);
  font-family: SF pro;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width:100%;
  top: 0;
  background-color: #1c1c2c77;
}

#sun{
  height: 50px;
  margin-right: 15px;
}

.landingPage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.landingQuote{
  margin-left: 110px;
}

.intro{
  font-size: 35px;
}

.line1{
  margin-top: 45px;
  font-family: SF Pro;
  color: #ffffff;
}

.line2{
  margin-top: 45px;
  font-family: SF Pro;
  color: rgb(0, 255, 0);
}

.line3{
  margin-top: 45px;
  font-family: SF Pro;
  color: #ffffff;
}

.paragraph{
  margin-top: 45px;
  font-family: SF Pro;
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 80px;
}

span.emoji{
  font-size: 120px;
  margin-right: 150px;
}

#filter{
  background: rgba(10, 10, 10, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 500vh;
  z-index: -2;
}

#object2 {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: rgb(212, 0, 255);
  border-radius: 50%;
  z-index: -3;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  filter: blur(45px);
}

#object3 {
  position: absolute;
  width: 300px;
  height: 240px;
  background-color: rgb(13, 255, 0);
  border-radius: 30%;
  z-index: -3;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  filter: blur(45px);
}

#modal {
  display: none;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(58, 58, 58, 0.994);
  overflow-y: scroll;
  z-index: 998;
}

.modal-content{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top:30px;
  margin-bottom: 30px;
  row-gap: 30px;
  font-size: 50px;
}

.modal-contact{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top:30px;
  font-size: 50px;
}

.modalHeader{
  display:flex;
}

#animated-text {
  transform: translateY(-20px);
  /*opacity: 0;*/
  animation: slide-in 1s ease-in;
}


header.modal-open {
  position: static;
}

#modal.modal-open {
  display: block;
}

body.modal-open{
  overflow: hidden;
}

#modal.modal-animation {
  animation: modal-in 0.5s;
}


@keyframes modal-in {
  from {transform: translateY(-100%);}
  to {transform: translateY(0);}
}

@keyframes modal-out {
  from {transform: translateY(0);}
  to {transform: translateY(-100%);}
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@keyframes slide-in {
  from{
      transform: translateY(0);
      opacity: 0;
  }
  to {
      transform: translateY(-20);
      opacity: 1;
  }
}