html{
  height: 335.5vh;
  width:100%;
}

body{
  background-color: #1c1c2c;
  height: 335.5vh;
  width:100%;
  margin:0px;
  position: relative;
}

#filter{
  background: rgba(10, 10, 10, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 335.5vh;
  z-index: -2;
}

#bg-lines{
  opacity: .10;
  position: absolute;
  height: 335.5vh;
  width:100%;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
  height:0;
}

button{
  background: transparent;
  border: 0px;
}

a{
  text-decoration: none;
  color: rgb(0, 255, 166);
  font-family: SF pro;
}

i{
  color: rgb(0, 255, 166);
}

.header1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width:100%;
  top: 0;
  background-color: #1c1c2c6e;
  z-index:900;
}

.modalHeader{
  display:flex;
  justify-content: space-between;
  background-color: #1c1c2c77;
  height:60px;
}

.logo{
  color: rgb(0, 255, 157);
  margin-left: 45px;
  font-family: Dreamscape;
}

#colorChanger{
  height: 50px;
  margin-right: 15px;
  color: rgb(0, 255, 166);
}

.landingPage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 125px;
  margin-bottom: 280px;
}

.landingQuote{
  margin-left: 150px;
  z-index: -1;
}


.intro{
  font-size: 33px;
}

.line1{
  margin-top: 45px;
  font-family: League Spartan;
  color: #ffffff;
}

.line2{
  margin-top: 65px;
  font-family: League Spartan;
  letter-spacing: 10px;
  color: rgb(0, 255, 166);
  font-style: italic;
  font-size: 50px;
}


.line3{
  margin-top: 65px;
  font-family: League Spartan;
  color: #ffffff;
}

.About{
  color:rgb(0, 255, 166);
  font-family: SF pro;
  font-weight: bold;
  font-size: 40px;
}

.AboutMeSmall{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
  color:#ffffff;
}

.AboutMeBtn{
  z-index:990;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.ProjectMore{
  z-index:990;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
}

.paragraph{
  margin-top: 45px;
  font-family: SF pro;
  font-size: 20px;
  color: rgb(255, 237, 237);
  font-size: 25px;
  margin-bottom: 80px;
}


.featuredPro{
  font-family: SF Pro;
  color: rgb(0, 255, 166);
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

#modal {
  display: none;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(50, 48, 69, 0.994);
  overflow-y: scroll;
  z-index: 998;
}

#bg-lines-modal{
  opacity: .10;
  position: absolute;
  height: 100vh;
  width:100%;
  z-index: -100;
}

.modal-content{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top:80px;
  margin-bottom: 30px;
  row-gap: 90px;
  font-size: 50px;
  z-index: 2000;
}

#animated-text {
  transform: translateY(-20px);
  /*opacity: 0;*/
  animation: slide-in 1s ease-in;
}

header.modal-open {
  position: static;
}

#modal.modal-open {
  display: block;
}

body.modal-open{
  overflow: hidden;
}

#modal.modal-animation {
  animation: modal-in 0.5s;
}

#object2 {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 0, 242);
  border-radius: 50%;
  z-index: -3;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  filter: blur(45px);
}

#object3 {
  position: absolute;
  width: 300px;
  height: 240px;
  background-color: rgb(0, 255, 166);
  border-radius: 30%;
  z-index: -3;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  filter: blur(45px);
}

#ArtLab{
  display:flex;
  height: 375px;
  width:18.5%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#nucamp{
  display:flex;
  height: 375px;
  width:20%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


.parent-div {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
 

}

.overlay {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 64, 64, 0.811);
  opacity: 0;
  transition: transform 4s ease-in-out;
  transform: translatey(100%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.overlay-logos{
  height: 60px;

}

.logos{
  margin-left:0px;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  
}

.parent-div:hover .overlay {
  opacity: 1;
  right: 0;
  transform: translatey(0);
  transition:  transform 1s ease-in-out;
}

.overlayTitle{
  font-family: SF pro;
  font-size: 50px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.overlayTitle2{
  font-family: SF pro;
  font-size: 30px;
  margin-top: 220px;
  display: flex;
  justify-content: center;
}



.Projects{
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.contact{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.WannaTalk{
  font-size:35px;
  margin-bottom: -40px;
  font-family: SF Pro;
  color: #ffffff;
  margin-right: 510px;
}

.contactLink{
  font-family: Sf pro;
  font-size: 250px;
  margin-bottom: 200px;
}

footer{
  background-color: #1c1c2c6f;
  height:90px;
  bottom:0;
  display:flex;
  justify-content: center;
  column-gap: 100px;
  margin-top:145px;
}

.footerModal{
  background-color: #1c1c2c6e;
  height:90px;
  display:flex;
  justify-content: center;
  column-gap: 100px;
  margin-top:280px;
}


.twitter{
  font-size: 50px;
  margin-right:20px;
}

.github{
  font-size: 50px;
  margin-left:20px;
}

.social{
  margin-top:300px;
}

.footer-name{
  color:#ffffff;
  font-family: SF pro;
  margin-right: 400px;
  font-size: 25px;
}

.name{
  color:rgb(0, 255, 166);
}


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-in {
  from {transform: translateY(-100%);}
  to {transform: translateY(0);}
}

@keyframes modal-out {
  from {transform: translateY(0);}
  to {transform: translateY(-100%);}
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@keyframes slide-in {
  from{
      transform: translateY(0);
      opacity: 0;
  }
  to {
      transform: translateY(-20);
      opacity: 1;
  }
}

@media screen and (max-width:600px){
  .emoji{
    display: none;
  }
  .paragraph{
    width:380px;
  }


  .AboutMeSmall{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 280px;
  }

  #ArtLab{
    display:flex;
    height: 375px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
  }

  #nucamp{
    display:flex;
    height: 375px;
    width:65%;
  }

  .parent-div {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    width:10%;
    border:#00ccff 100px;
  }  

  .Projects{
      margin-bottom: 0px;
      display: flex;
      align-items: center;
      flex-direction: row;
  }

  .contactLink{
    font-family: Sf pro;
    font-size: 3px;
  }

  .WannaTalk{
    font-size:20px;
    margin-bottom: -30px;
    font-family: SF Pro;
    color: #ffffff;
    margin-right: 200px;
  }

  .ProjectMore{
    z-index:990;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
  }

  html{
    height: 300vh;
    width:100%;
  }
  
  body{
    background-color: #1c1c2c;
    height: 325.5vh;
    width:100%;
    margin:0px;
  }
  
  #filter{
    background: rgba(10, 10, 10, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 325.5vh;
    z-index: -2;
  }
  
  #bg-lines{
    opacity: .10;
    position: absolute;
    height: 325.5vh;
    width:100%;
  }
}

@media screen and (max-width:1000px){
  html{
    height: 490vh;
    width:100%
  }
  
  body{
    background-color: #1c1c2c;
    height: 550vh;
    margin:0px;
  }

  #filter{
    background: rgba(10, 10, 10, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 605vh;
    z-index: -2;
  }
  
  #bg-lines{
    opacity: .10;
    position: absolute;
    height: 750vh;
    width:100%;
  }
  
  .paragraph{
    width:380px;
  }


  .AboutMeSmall{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 280px;
  }

  #ArtLab{
    margin-bottom: 80px;
    height: 375px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    width:70%;
  }

  #nucamp{
    width:60%;
  }

  .Projects{
    margin-bottom: 280px;
    display: flex;
    flex-direction: row;
  }


  .contactLink{
    font-family: Sf pro;
    font-size: 190px;
  }

  .WannaTalk{
    font-size:40px;
    margin-bottom: -30px;
    font-family: SF Pro;
    color: #ffffff;
    margin-right: 270px;
  }

  
}

@media screen and (max-width:1500px){
  html{
    height: 450vh;
    width:100%
  }

 
  
  body{
    background-color: #1c1c2c;
    height: 450vh;
    margin:0px;
  }

  #filter{
    background: rgba(10, 10, 10, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 450vh;
    z-index: -2;
  }
  
  #bg-lines{
    opacity: .10;
    position: absolute;
    height: 450vh;
    width:100%;
  }
  
  #ArtLab{
    display:flex;
    margin-bottom: 80px;
    height: 375px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    width:24.5%;
  }

  #nucamp{
    display:flex;
    height: 375px;
    width:39%;
  }

  .footerModal{
    background-color: #1c1c2c6e;
    height:90px;
    display:flex;
    justify-content: center;
    column-gap: 105px;
    margin-top:195px;
  }

  .modal-content{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:80px;
    margin-bottom: 30px;
    row-gap: 45px;
    font-size: 50px;
    z-index: 2000;
  }

  .landingQuote{
    margin-left: 100px;
    z-index: -1;
  }
  
}

@media screen and (max-width:480px){
  
  html{
    height: 448vh;
    width:100%;
  }
  
  body{
    background-color: #1c1c2c;
    height: 448vh;
    width:100%;
    margin:0px;
  }
  
  
  
  #filter{
    background: rgba(10, 10, 10, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 448vh;
    z-index: -2;
  }
  
  #bg-lines{
    opacity: .10;
    position: absolute;
    height: 448vh;
    width:100%;
  }

.landingPage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 105px;
  margin-bottom: 200px;
}

.landingQuote{
  margin-left: 50px;
}

.Projects{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  column-gap: 30px;
}

#ArtLab{
  display:flex;
  height: 375px;
  width:68.5%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#nucamp{
  display:flex;
  height: 375px;
  width:70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.contact{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.WannaTalk{
  font-size:20px;
  margin-bottom: -40px;
  font-family: SF Pro;
  color: #ffffff;
  margin-right: 30px;
}

.contactLink{
  font-family: Sf pro;
  font-size: 120px;
  margin-bottom: 100px;
}

.footer-name{
  color:#ffffff;
  font-family: SF pro;
  margin-right: 10px;
  font-size: 25px;
}

.twitter{
  font-size: 40px;
}

.github{
  font-size: 40px;
}

.socials{
  margin-top:20px;
  display:flex;
}

.footerModal{
  background-color: #1c1c2c6e;
  height:90px;
  display:flex;
  justify-content: center;
  column-gap: 100px;
  margin-top:190px;
}
}




